@import "tailwindcss";

@theme {
  --color-green-light: #cde2bd;
  --color-green-dark: #a7c191;
  --color-white: #dae2e2;
  --color-dark: #491212;
  --color-pink-light: #eadbdc;
  --color-pink-dark: #e4cbce;

  --height-2screen: 200vh;
}

@utility masonry {
  column-gap: 1rem;
  column-count: 1;
}

@utility masonry-sm {
  column-gap: 1rem;
  column-count: 2;
}

@utility masonry-md {
  column-gap: 1rem;
  column-count: 3;
}

@utility break-inside {
  break-inside: avoid;
}

@layer base {
  html {
    font-family: monospace;
    font-size: clamp(0.875rem, 0.75rem + 2vw, 1.5rem);
  }
}
