@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: monospace;
    @apply text-sm sm:text-base md:text-lg lg:text-2xl;
  }
}

@layer utilities {
  @variants responsive {
      .masonry {
          column-gap: 1rem;
          column-count: 1;
      }
      .masonry-sm {
          column-gap: 1rem;
          column-count: 2;
      }
      .masonry-md {
          column-gap: 1rem;
          column-count: 3;
      }
      .break-inside {
          break-inside: avoid;
      }

  }
}
