@import "tailwindcss";

@theme {
  --color-green-light: #cde2bd;
  --color-green-dark: #a7c191;
  --color-white: #dae2e2;
  --color-dark: #491212;
  --color-pink-light: #eadbdc;
  --color-pink-dark: #e4cbce;

  --height-2screen: 200vh;
}

@layer base {
  html {
    font-family: monospace;
    font-size: clamp(0.875rem, 0.75rem + 2vw, 1.5rem);
  }
}
